html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.box1 {
 
  width: 50%;
  border: 1px ridge white;
  float: right;
  margin:0px;
  padding: 15px;
  overflow:visible;
  background:white;
  border: 1px ridge red;
  margin-top:-230px;
  font-size: 12px;
}

h3 {
   text-align:center;
  font-family: Helvetica; 
   

}
